<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jiayanchen-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/57bfeeed-c34a-4ffd-a06b-ccff27ac91b8/resourceGroups/jiayanchentest3/providers/Microsoft.Web/sites/jiayanchen-test</ResourceId>
    <UserName>$jiayanchen-test</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://jiayanchen-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>